<mat-card>
  <h4>{{ title }}</h4>
  <ul>
    <li *ngFor="let joke of jokes.values()" class="joke-item">
      <span>{{ joke?.joke }}</span>
      <button mat-icon-button (click)="update(joke)">
        <mat-icon *ngIf="!joke.liked">star_border</mat-icon>
        <mat-icon *ngIf="joke.liked">star</mat-icon>
      </button>
    </li>
  </ul>
  <div *ngIf="!(jokes && jokes.length)">
    No jokes for now. Come here later (;
  </div>
</mat-card>
<div *ngIf="loading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
